$primary-color:#1ff142;
$secondary-color:#93b438;
$font-color:#121212;
$primary-fontfam:"rubik",sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: $primary-fontfam;
    color: $font-color;
    font-weight: 400;
    background: $primary-color;
}